<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/registration_numbers.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body background="https://dsx.weather.com/util/image/v/228hand2.jpg?v=at&w=1280&h=720&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0">
    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
