<div class="container">


<div class="row" id="header">
  <div class="twelve columns">
    <div>
      <h1 style="color:white;">Registration Numbers</h1>
    </div>
  </div>
</div>

<center>
  <form class="" action=" /reg_numbers" method="post">

  </form>
  <div class="row">
    <label for="">Please  Enter Registration Number </label>
    <input type="text" name="" value="" placeholder="eg. CA 45569" class="Name">
    <button class="button-primary addBtn" type="button" name="button">ADD</button>
    <button class="button-primary resetBtn" type="button" name="button">RESET</button>
  </div>


  <input type="radio" name="Language" class="LanguageRadio" value="All ">
  <span class="label-body">All</span>


  <input type="radio" name="Language" class="LanguageRadio" value="CA ">
  <span class="label-body">Cape Town</span>


  <input type="radio" name="Language" class="LanguageRadio" value="CJ ">
  <span class="label-body">Paarl</span>


  <input type="radio" name="Language" class="LanguageRadio" value="CY ">
  <span class="label-body">Bellville</span></center>

  <center><button class="button-primary showBtn" type="button" name="button">SHOW</button></center>
</form>

  </div>

</div>
