<div class="container">


<div class="row" id="header">
  <div class="twelve columns">
    <div>
      <h1 style="color:white;">Registration Numbers</h1>
    </div>
  </div>
</div>

<center>
  <form class="" action="/reg_numbers" method="post">
  <div class="row">
    <label for="">Please  Enter Registration Number </label>
    <input type="text" name="number" value="" placeholder="eg. CA 45569" >
    <button class="button-primary" type="submit" name="button">ADD</button>
  </div></form>

  <center>{{#if messages.info}}
      <h1> {{messages.info}}</h1>

  {{/if}}</center>

  <input type="radio" name="Language" class="LanguageRadio" value="All ">
  <span class="label-body">All</span>


  <input type="radio" name="Language" class="LanguageRadio" value="CA ">
  <span class="label-body">Cape Town</span>


  <input type="radio" name="Language" class="LanguageRadio" value="CJ ">
  <span class="label-body">Paarl</span>


  <input type="radio" name="Language" class="LanguageRadio" value="CY ">
  <span class="label-body">Bellville</span></center>

  <center><button class="submit" type="button" name="button">SHOW</button></center>


<div class= "row">

<table>
    <tr>
        <th>Registration Numbers</th>
    </tr>

    {{#each numbers}}
        <tr>
        <td>{{regNum}}</td>
    </tr>
    {{/each}}
</table>
</div>

  </div>
