

<center> <div id= "header">
      <h1 style="color:white;">Registration Numbers</h1>
    </div></center>

<div class="row">
  <div class = "twelve columns">
 <center> <form class="" action="/reg_numbers" method="post">
    <label for="">Please  Enter Registration Number </label>
    <input type="text" name="number" value="" placeholder="eg. CA 45569"  maxlength="10" >
    <button class="button-primary" type="submit" name="button">ADD</button>
  </form></center>
</div>
</div>
<center>

  {{#if messages.info}}
  <h1 style="color:red;font-style: italic;">{{messages.info}}</h1>
  {{/if}}


<form class ="" action="/regnumbers" method="POST">
  <input type="radio" name="Town" class="with-gap" value="All">
  <span class="label-body">All</span>

  <input type="radio" name="Town" class="with-gap" value="CA">
  <span class="label-body">Cape Town</span>

  <input type="radio" name="Town" class="with-gap" value="CJ">
  <span class="label-body">Paarl</span>

  <input type="radio" name="Town" class="with-gap" value="CAW">
  <span class="label-body">George</span></center>

  <div class="row">
  <center><button class="button-primary" type="submit" name="button">SHOW</button></center>
</form></center>
<center>  <form class="" action="/clear" method="post">
      <button class="button-primary" type="submit" name="button"> Clear</button>
 </form></center>
</div>


<div  id = "header" class="row" >
  <div class="twelve columns">
    {{#each registrationN}}
       <div class ="registration">{{reg}}</div>
    {{/each}}
    </div>
    </div>
